{{#if form.boxID}}
<section id="dash">
  <header>
    <p class="logo">I'm Thirsty</p>
    <p>Welcome <span class="username">{{form.username}}</span> (<span class="boxID">19B4</span>), </p>
  </header>

  <main>
    <section id="blocks">
      <h2>Dashboard</h2>
      <section class="item">
        <span>Online users</span>
        <p id="totalUsers"></p>
      </section>

      <section class="item">
        <span>Temperature</span>
        <p><span id="tempC"></span> &deg;C</p>
      </section>

      <section class="item">
        <span>Your boxID</span>
        <p>19B4</p>
      </section>
    </section>

    <!-- <button class="BigAssButton">Press !!</button> -->

    <section id="container">
      <section id="messages">
        <section id="text">
          <h3>So <span class="username">{{form.username}}</span>, you're thirsty?</h3>
          <h4>Lets start!</h4>
          <p class="instructions">Press the button on your box, too see who needs to get the drinks</p>
        </section>
        <section id="turn">
          <h2><span id="setCoffee">{{form.boxID}}</span>, needs to set coffee!</h2>
        </section>
        <section id="ready">
          <h2>The coffee is ready!</h2>
          <p>You don't have to be thirsty for much longer</p>
        </section>
      </section>
    </section>
  </main>
  <aside>
    <button id="pressButton">Press</button>
    <section id="users">
      <h4>Connected users:</h4>
      <ul id="connectedUsers">
      </ul>
    </section>
  </aside>
</section>
  <script>
    // User information form
    var boxID = "{{form.boxID}}";
    var username = "{{form.username}}";
  </script>
  <script src="javascripts/main.min.js"></script>

{{else}}
  <form action="/" id="sign-in" method="post">
    <div class="inner">
      <h1>I'm Thirsty!</h1>
      <label>
        BoxID <span class="example">(8C6E)</span> <span class="required">(required)</span><br>
        <input name="boxID" id="boxID" type="text" required placeholder="8C6E">
      </label>
      <label>
        Username <span class="example">(Name)</span> <span class="required">(required)</span><br>
        <input name="username" id="username" type="text" required placeholder="Django Unchained">
      </label>
      <br>
      <button class="primary">Sign In</button>
    </div>
  </form>

{{/if}}
