{{#if form.boxID}}
  <section id="dashboard">
    <div class="inner content">
        <h1>Welcome to I'm Thirsty!</h1>
        <section>
            <h3>So {{form.username}}, you're thirsty?</h3>
            <h4>Lets start!</h4>
            <p class="instructions">Press the button on your box, too see who needs to get the drinks</p>
            <section id="turn">
              <h2><span id="setCoffee"></span>, needs to set coffee!</h2>
            </section>
            <section id="ready">
              <h2>The coffee is ready!</h2>
              <p>You don't have to be thirsty for much longer</p>
            </section>
        </section>
        <aside>
            <section id="yourData">
                <p>Your boxID: <br/><strong>{{form.boxID}}</strong></p>
                <p>Your username: <br/><strong>{{form.username}}</strong></p>
            </section>
          <section id="users">
            <h4>Connected users:</h4>
            <ul id="connectedUsers"></ul>
          </section>
      </aside>
    </div>
  </section>

  <script>
    // User information form
    var boxID = "{{form.boxID}}";
    var username = "{{form.username}}";
  </script>
  <script src="javascripts/main.min.js"></script>

{{else}}
  <form action="/" id="sign-in" method="post">
    <div class="inner">
      <h1>I'm Thirsty!</h1>
      <label>
        BoxID <span class="example">(8C6E)</span> <span class="required">(required)</span><br>
        <input name="boxID" id="boxID" type="text" required placeholder="8C6E">
      </label>
      <label>
        Username <span class="example">(Name)</span> <span class="required">(required)</span><br>
        <input name="username" id="username" type="text" required placeholder="Django Unchained">
      </label>
      <br>
      <button class="primary">Sign In</button>
    </div>
  </form>

{{/if}}
