{{#if form.boxID}}
  <section id="dashboard">
    <div class="inner">
      <h1>I'm Thirsty!</h1>
      <h3>So {{form.username}} you're thirsty?</h3>
      <h4>Lets start!</h4>
      <div>Your boxID: <strong>{{form.boxID}}</strong></div>
      <div>Your username: <strong>{{form.username}}</strong></div>
      <section id="users">
        <h4>Connected users:</h4>
        <ul id="connectedUsers"></ul>
      </section>
      <section id="turn">
        <h2><span id="setCoffee"></span>, needs to set coffee!</h2>
      </section>
      <section id="ready">
        <h2>The coffee is ready!</h2>
      </section>
    </div>
  </section>

  <script>
    (function () {
      /* global io */
      // Check if socket is available
      if (document.getElementById('socketScript')) {
        var socket = io();
        // User information form
        var boxID = "{{form.boxID}}";
        var username = "{{form.username}}";
        // Define user
        socket.emit('connection_user', socket.id, boxID, username );
        socket.boxID = boxID;
        socket.username = username;
        // Get coffee message
        socket.on('get_coffeee', function () {
          console.log("recieve");
        });
        // Connect user feedback
        socket.on('connection_user', function (id, otherID, otherUser) {
          // Current user
          if (socket.id === id) {

          }
          // Other user
          if (socket.id !== id) {
            console.log("connect " + otherID + " " + otherUser);
          }
        });
        // Disconnect user feedback
        socket.on('disconnect_user', function (id, otherID, otherUser) {
          // Other user
          if (socket.id !== id) {
            console.log("dis: " + otherID + " " + otherUser);
          }
        });
        // Get all connections
        socket.on('get_all_connections', function (allConnected) {
          var getUserList = document.getElementById('connectedUsers');
          getUserList.innerHTML = '';
          for (var u = 0; u < allConnected.length; u++) {
            getUserList.innerHTML += '<li>' + allConnected[u] + '</li>';
          }
          console.log(allConnected);
        });
        // Get all boxIDs
        socket.on('get_all_boxIDs', function (allBoxes) {
          console.log(allBoxes);
        });
        // Button press
        socket.on('button_press', function (boxID) {
          var turn = document.getElementById('turn');
          var setCoffee = document.getElementById('setCoffee');
          setCoffee.innerHTML = boxID;
          turn.style.display = 'block';
        });
        // Coffee ready
        socket.on('coffee_ready', function () {
          var ready = document.getElementById('ready');
          ready.style.display = 'block';
        });
      }
    })();
  </script>

{{else}}
  <form action="/" id="sign-in" method="post">
    <div class="inner">
      <h1>I'm Thirsty!</h1>
      <label>
        BoxID <span class="example">(8C6E)</span> <span class="required">(required)</span><br>
        <input name="boxID" id="boxID" type="text" required placeholder="8C6E">
      </label>
      <label>
        Username <span class="example">(Name)</span> <span class="required">(required)</span><br>
        <input name="username" id="username" type="text" required placeholder="Django Unchained">
      </label>
      <br>
      <button class="primary">Sign In</button>
    </div>
  </form>

{{/if}}
